Repository P5-wrapper/react, pull requests merged in 2022-09, with the labels that each got.

#184 Automate project dependency auditing and updating
  .github/workflows/UPDATE_DEPENDENCIES.yml
  package.json
  pnpm-lock.yaml
Labels: enhancement, dependencies, documentation

#187 Format lock file before creating commit
  .github/workflows/UPDATE_DEPENDENCIES.yml
Labels: bug

#186 Update project dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies

#188 Update automated updates workflow
  .github/workflows/UPDATE_DEPENDENCIES.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation
